@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  background: linear-gradient(
    321deg,
    rgba(0, 0, 0, 0.9026961126247374) 0%,
    rgba(212, 169, 79, 0.9192051820728291) 40%,
    rgba(76, 88, 150, 0.8211659663865546) 56%
  );
  background-position: center;
  overflow: auto;

}

img {
  height: auto;
  width: 18%;
  margin-bottom: -1vw;
  overflow: hidden;
  position: absolute;
  top: 30%;
  z-index: 2;
  left: 3%;
}
.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #a9a8a3;
  padding: 4vw 0;
  float: center;


}
.container {
  margin: 0 auto;
  width: 80%;
  height: auto;
  border-radius: 5px;
  position: relative;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(66, 74, 77, 1) 100%
  );
}
.hero {
  height: 25vw;
  margin: -1vw;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero:before {
  content: "";
  width: 100%;
  height: 80%!;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_bg.jpg"); */
  z-index: -1;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;
}
.cover {
  position: absolute;
  top: 30%;
  left: 40px;
  z-index: 2;
}
.details {
  padding: 15vw 0 0 20vw;
}
.details .title1 {
  color: #ffffff;
  font-size: 3vw;
  margin-bottom: 3vw;
  position: relative;
}
.details .title2 {
  color: #ffffff;
  font-size: 2vw;
  margin-bottom: 3vw;
  position: relative;
  padding-left: 4vw;
  font-weight: bolder;
}

.description {
  bottom: 0px;
  height: 15vw;
  font-size: 2vw;
  line-height: 2vw;
  padding-top: 1vw;

  color: #aea7a7;
}
.column1 {
  padding-left: 5vw;
  padding-top: 12vw;
  width: 18vw;
  float: left;
  text-align: center;
}

.column2 {
  padding-left: 2vw;
  padding-top: 1vw;
  margin-left: 2vw;
  width: 65%;
  float: left;
}
button {
  background-color: #000000;
  margin-left: 1vw;
  margin-top: 1vw;
}
