<body>
<div class="movie-card">
  <div class="container">
    <img [src]= poster_path />

    <div
      class="hero"
      [ngStyle]="{
        'background-image': backdrop_path,
        'background-size': 'cover',
        'background-repeat': 'no-repeat',
        opacity: '75%',
        'overflow-y': 'hidden'
      }"
    >
      <div class="details">
        <div class="title1">{{ title }}</div>
        <span class="title2" *ngIf="tagline !== ''"> " {{ tagline }}"</span>
      </div>
    </div>

    <div class="description">
      <div class="column1"></div>

      <div class="column2">
        <p>
          {{ overview }}
        </p>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="onBack()">Back to catalog</button>
</div>
</body>
