<body>
<div class="row all">
  <div class="col-xs-12">
    <div class="paginator">
      <div
        class="card"
        *ngFor="let movie of movieSlice; let i = index"
        tabindex="0"
      >
        <mat-card class="movie-card details" (click)="onClick(i)">
          <div class="row">
            <div class="col-xs-6">
              <img
                mat-card-image
                [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              />
            </div>
            <div class="col-xs-6">
              <mat-card-title>{{ movie.title }}</mat-card-title>

              <mat-card-content>{{ movie.overview }}</mat-card-content>
              <mat-card-footer
                >Rating: {{ movie.vote_average }}</mat-card-footer
              >
            </div>
          </div>
        </mat-card>
      </div>
      <mat-paginator
        [length]="this.topMoviesList.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
        (page)="onPageChange($event)"
        showFirstLastButtons


      ></mat-paginator>

    </div>
  </div>
</div>
</body>
